[2020-09-13 18:05] tiberiuichim opened #8 "Replace custom-build saved selection with HOC"
From https://gist.github.com/heyitsaamir/6089165fe6789eee170b46809cb61fc6
[code]

[2020-10-06 20:36] #8 closed

[2020-11-11 14:18] avoinea opened #32 "eslint issues"
[code]

[2020-11-11 14:23] avoinea opened #33 "stylelint issues"
[code]

[2020-11-22 10:42] tiberiuichim opened #38 "Incorect dependencies in volto-slate"
It depends on eea/volto-object-widget

[2020-11-22 11:44] #38 closed

[2020-11-27 07:32] tiberiuichim opened #40 "Image plugin should not execute if there's an text/html payload in the data"
Copy/pasting from Excel puts an image and also a table in the data. The image plugin should look for this and (maybe optional) not insert an image in the content, but leave the table to be inserted.
Alternatively, it could insert the image but also leave the table, so the editor gets a chance to choose which version s/he prefers.

[2020-12-08 08:09] tiberiuichim commented on #40
Maybe show a preview? "It looks like you're importing rich content, what would you like to have, an image or separate blocks" ?

[2020-12-11 13:19] silviubogan opened #44 "Potential improvements to DEVELOP.md"
The steps in DEVELOP.md miss one thing. At the end, before eventually running `yarn test`, for `yarn test` to work, one must put
this line over the `scripts.test` line in *package.json*:

    "test": "razzle test --env=jsdom --passWithNoTests --watchAll",

This line previously was:

    "test": "razzle test --env=jsdom --passWithNoTests",

The new thing is ```--watchAll```, without which this erro

[2020-12-11 14:21] silviubogan opened #45 "Module name mappings not good in Yeoman Volto generator for volto-slate"
After overcoming https://github.com/eea/volto-slate/issues/44 as I said in that issue, I get these sort of fails from unit tests (part of the output of `$ yarn test` and there is no script `$ yarn test-addon` in the generated package.json file that I can run):

![image](https://user-images.githubusercontent.com/198924/101912474-7b1f1800-3bca-11eb-8203-7dd71d52d437.png)

`volto-slate/editor` cannot

[2020-12-16 18:39] ksuess opened #49 "Installation: dependency 'volto-object-widget'"
Hi! First of all: Slate is cool. And this, your Slate integration rocks.
- pasting text by creating multiple blocks is magnificent
- the play of Slate with ElasticSearch is a lot easier than that of DraftJS (thanks for the plaintext value!)
- the widget for setting links is really comfortable
- well, the response on selecting text is a bit sluggish

I switch to Slate.

This is what I think is also

[2020-12-16 19:26] avoinea commented on #49
@ksuess Thank you! I will update docs.

I found that it also needs `@eeacms/volto-blocks-form`

[2020-12-16 19:37] avoinea commented on #49
@ksuess Fixed. See (README](https://github.com/eea/volto-slate#getting-started)

[2020-12-16 19:37] #49 closed

[2020-12-28 11:39] silviubogan opened #53 "After going through steps in DEVELOP.md I get an empty Volto home page"
![image](https://user-images.githubusercontent.com/198924/103211685-8cc62680-4911-11eb-9d7a-c4c94397717d.png)

(note: My Page is an attempt to create a Volto Page that also failed in some way)

I think it is a bug in plone.docker since that is where the home page I am used to comes from.

When I try to create a page, I do not get the block editor form I am used to but a properties page without Vol

[2020-12-28 11:55] avoinea commented on #53
Add `-e PROFILES="profile-plone.restapi:blocks"` to the docker run command like:
[code]
Or you can manually add the `Blocks` behavior within:
* Site Setup > Dexterity Content Types > Page > **Behaviors Tab**

[2020-12-28 12:47] #53 closed

[2021-01-18 17:12] ksuess opened #55 "Editing of Links is difficult: A click into the link opens the linked page"
It is possible to edit the link by selecting the linked text.
It would be nice to just click in the linked text to edit the target of the link.

[2021-02-24 16:12] tiberiuichim commented on #55
I've missed this ticket. The fix is easy, I'll implement it right away

[2021-03-01 09:46] #55 closed

[2021-03-23 10:54] #32 closed

[2021-03-23 10:56] #33 closed

[2021-04-16 13:25] tiberiuichim opened #66 "Create a title block"

[2021-04-19 05:35] ksuess opened #67 "Let serializeNodesToText (stored as "plaintext" of each block) generate a string with list items values concatenated with space as separator"
The *plaintext* value of a block can be used for indexing with ElasticSearch, etc.. But words should be separated.

Current status is: Lists appear as one long string in *plaintext*

**Software**
Volto 12.10.1
volto-slate 12.4.0

[2021-04-19 07:19] ksuess opened #69 "Double click on word should select it and show editor toolbar."

[2021-04-19 07:20] ksuess opened #70 "Make option if toolbar is floating or fixed on top of the block configurable."

[2021-04-19 07:36] ksuess commented on #69
Sorry, my Mac Trackpad seems to distinguish between double tap and double click.

[2021-04-19 07:36] #69 closed

[2021-04-20 12:17] #67 closed

[2021-04-22 08:34] ksuess commented on #70
Done with https://github.com/eea/volto-slate/pull/71

[2021-04-22 08:34] #70 closed

[2021-04-27 19:08] tiberiuichim opened #73 "Tests are failing"
[code]

Some problem with jest setup, probably caused by volto 12.

[2021-04-30 11:49] avoinea opened #75 "New slate block after Enter doesn't have the + button"
![new-slate-block-without-add-button](https://user-images.githubusercontent.com/323385/116691294-47029300-a9c3-11eb-8c5b-f3286e1e61d8.gif)

[2021-05-12 16:30] ksuess opened #77 "External links with navigation path need to be opened in same window"
Bug description: https://github.com/plone/volto/issues/2434

UniversalLink expects a boolean for openLinkInNewTab, but slate provides _self. This leads to a link with target _blank.
So my question is, if _self, _parent, .. is really needed.
https://github.com/eea/volto-slate/blob/2e77a2bec56201a5ff9791e6aad9e8fa95e8d3ab/src/editor/plugins/Link/schema.js#L107-L112
or if this could be reduced to a b

[2021-05-14 06:29] ksuess commented on #77
I close this issue, as with **no selection of a target** the link opens in the same window as expected.

![image](https://user-images.githubusercontent.com/1144737/118230745-6f43c480-b48e-11eb-9ec5-1744eb980265.png)

[2021-05-14 06:29] #77 closed

[2021-05-23 10:11] #73 closed

[2021-05-27 08:43] ksuess opened #84 "Fixed toolbar: text jumps on selection"
**Steps to reporduce**
- Fix the Slate toolbar (config.settings.slate.showExpandedToolbar = true;)
- select text
- deselect text by setting cursor somewhere else

**Expected behavior**
Toolbar is **always** visible while block is active.
That means toolbar does not vanish on deselecting text.

![Slate_fixed_toolbar_jumping](https://user-images.githubusercontent.com/1144737/119794929-45e85700-bed8-

[2021-05-28 12:44] tiberiuichim commented on #84
@ksuess I've restructured the toolbar, we're getting rid of the "expanded" mode, right now we'll only have the floating toolbar.

On the other hand, the toolbar is a lot better responsive and there's been many improvements to normalization of blocks. Watch the next release, it will be great.

[2021-05-28 12:44] tiberiuichim opened #89 "Markdown generated lists are not wrapped in <ul>"
^

[2021-05-30 05:47] tiberiuichim opened #90 "Create Title block"

[2021-05-30 05:47] tiberiuichim opened #91 "Allow detached param to be passed to Text blocks"

[2021-05-30 05:48] tiberiuichim opened #92 "Create html-saving Richtext widget"

[2021-06-15 09:41] #91 closed

[2021-06-15 13:58] tiberiuichim opened #101 "Cypress integration test block focusing issue"
https://gist.github.com/sneridagh/75212d81d8bbb28a49540bb5c69f2574

[2021-06-16 07:23] tiberiuichim opened #102 "Include slate as development packages"
It would be nice to include the whole dev setup so that we can debug through `slate-*` packages.

[2021-06-18 20:44] tiberiuichim commented on #101
https://gist.github.com/sneridagh/75212d81d8bbb28a49540bb5c69f2574

[2021-06-24 09:08] avoinea commented on #101
@tiberiuichim @sneridagh See https://github.com/eea/volto-slate/commit/98e7617ce3e3e7bfc866f9a9044ea28e20fbccd9

Not sure if it was supposed to fail but I adapted it to pass :laughing:

[2021-06-25 08:27] ksuess opened #109 "Editor toolbar inline menu: paragraph style"
Will you remove the feature of editor toolbar inline menu?
An inline style selection does what expected. A  paragraph style selection does not have an effect as the class is not set.

![Seite_bearbeiten](https://user-images.githubusercontent.com/1144737/123394015-f791ab00-d59e-11eb-9c98-818662d67639.png)

This helps:

![GitHub_Desktop](https://user-images.githubusercontent.com/1144737/123394299-49

[2021-06-25 09:54] tiberiuichim commented on #109
@ksuess It's a bug. I don't plan on removing that feature from Slate, it's an optional addon, it doesn't bother anyone.

[2021-06-28 09:39] tisto opened #112 "Placeholder: "Enter some richtext..." -> "Type text...""
volto-slate currently uses "Enter some richtext..." as placeholder. We should make this placeholder consistent with Volto/Draft and use "Type text...". This message also needs to be translated into the different languages that Volto currently supports.

I did not find the string in the volto-slate repo. Does this come from Slate directly?

[2021-06-30 13:51] tiberiuichim commented on #112
https://github.com/eea/volto-slate/blob/master/src/blocks/Text/TextBlockEdit.jsx#L299

@tisto We've used the different placeholder to serve as a "marker" that we're dealing with slate instead of draft. Actually the whole addon needs i18n support, it doesn't have it right now, I think.

[2021-07-09 07:24] tisto commented on #112
@tiberiuichim is this something we can create? I am happy to take care of the German translations. Though, we can not ship a system to a German client that has "Please enter some richtext..." all over the place. cc @sneridagh

[2021-07-22 15:19] tisto commented on #112
@tiberiuichim ping :) Any news on this?

[2021-07-22 15:20] tisto opened #122 "Clicking on bullet point / numbering icon does not remove bullets/numbering"
# StR

* as admin
* create document
* add bullet point list with two lines
* select second line and click on the "bullet point" icon in the Slate overlay
* -> nothing happens
* -> expected behavior: the bullet point styling goes away (same behavior as for bold, italic, headlines, quote, blockquote)

# Screenshot

![Add-Document (2)](https://user-images.githubusercontent.com/632105/126664338-e39aeb

[2021-07-26 09:50] tiberiuichim commented on #122
Fixed by #124

[2021-07-26 09:50] #122 closed

[2021-07-26 09:52] nileshgulia1 opened #125 "Improve focus mechanism in RichTextWidget"
Unlike the usual slate editor ( the text block) if we directly use `SlateRichTextWidget`, we have problems with focus and text selection. The main problem being not able to place a 'cursor' between the texts.

[2021-07-26 10:00] tiberiuichim commented on #112
@tisto I've opened a PR here for this: https://github.com/eea/volto-slate/pull/119

There's some issues with the tests, I'm trying to track them. For some reason the whole build fails when I add babel.config.js

[2021-07-28 06:15] nileshgulia1 commented on #125
See https://github.com/eea/volto-slate/pull/126#issuecomment-888041459

[2021-07-29 17:12] #125 closed

[2021-07-30 07:00] nileshgulia1 opened #127 "Deprecate ObjectWidget and ObjectbrowserWidget"
Use them from volto-core. https://github.com/eea/volto-slate/tree/master/src/futurevolto

[2021-08-12 15:38] avoinea opened #131 "Delete entity via Delete key will lead to unforeseen crash"
https://user-images.githubusercontent.com/323385/129225825-13dac1c9-1008-4b80-82e9-076b85f1e973.mp4

[2021-08-12 17:13] avoinea commented on #131
The issue seems to be in volto-slate-footnote. Fixed by https://github.com/eea/volto-slate-footnote/pull/13/commits/c852f7987ffe8db433235b70792002d40ade690f

[2021-08-12 17:13] #131 closed

[2021-08-25 15:42] iFlameing opened #137 "Not possible to add or edit link within table."
@tiberiuichim I really need your help here. We are unable to add a link in the table block because the `AddLinkForm` component is unmounting before the user can interact. I tried to figure it out but I am unable to do so.

[2021-08-27 16:58] avoinea opened #140 "Unmet peer dependencies"
[code]

[2021-09-01 12:01] iFlameing opened #141 "Not able to click in table block and also pasting table from google docs and inserting links doesn't work"
@tiberiuichim when using the touchpad for clicking into table block I am not able to get the cursor in the table block. When I force click on the touchpad then I am able to get the cursor in table block.

[2021-09-01 14:06] iFlameing commented on #141
@tiberiuichim  When I copied the table from google docs and try to add a link to the text it is giving me an error.

![Screenshot 2021-09-01 at 7 35 51 PM](https://user-images.githubusercontent.com/33936987/131685864-9e560863-1ee2-4e4f-ad41-bfc83f306675.png)

[2021-09-01 17:21] tiberiuichim commented on #141
@iFlameing could you share with me the google doc that you have?

[2021-09-02 10:12] iFlameing commented on #141
@tiberiuichim link of the google docs https://docs.google.com/document/d/1vlFbCo7hOiQkRE4yq4j08gLghJGtNj6a0suw_W7VXsw/edit?usp=sharing

[2021-09-05 06:16] tiberiuichim commented on #141
@iFlameing give the develop branch a try

[2021-09-05 14:14] tiberiuichim opened #145 "Remove awkward empty implementation of getBlockProps"
Sometimes editor.getBlockProps is used to detect if the editor is "block text" flavour. I've introduced an `editor.isNotTextBlock` that's set in the richtext editor flavours.

I think this should be cleaned up, it's awkward. Too many ways of doing the same thing, plus an overload that does nothing.

[2021-09-05 14:40] nileshgulia1 commented on #127
covered in #142 3edf6a8

[2021-09-05 14:40] #127 closed

[2021-09-06 11:21] tiberiuichim opened #147 "Compress Slate values before saving"
I propose that we do a denormalization on save and a normalization on "load" of values. The normalization algoritm is the one in this function: https://github.com/eea/volto-slate/blob/0a8f5fd7eac960f9628fd613d37492f9614086cc/src/widgets/HtmlSlateWidget.jsx#L23

The denormalization algorithm would be the "reverse" algorithm, it would remove the empty {text: ''} placeholders so that the JSON value i

[2021-09-08 12:38] iFlameing commented on #141
@tiberiuichim Now the pasting the table doesn't work.

Screenshot

<img width="924" alt="Screenshot 2021-09-08 at 6 07 46 PM" src="https://user-images.githubusercontent.com/33936987/132510554-c4a48042-0388-42f7-ab3f-dc30e8399dec.png">

[2021-09-08 12:51] tiberiuichim commented on #141
@iFlameing that's because the table is no longer in the default, @avoinea will know more.

Add the `tableButton` profile to be loaded, see https://github.com/eea/volto-slate/blob/aef31f14c599a8dd5fbc3d78de6772080142abb6/src/index.js#L75

[2021-09-08 13:00] avoinea commented on #141
[code]

[2021-09-09 05:45] tiberiuichim commented on #145
More so, deconstructToVoltoBlocks should never be guarded against. switchListType shouldn't call deconstructToVoltoBlocks, it should be the job of the text block to make sure that deconstruct gets called after a mutate operation.

[2021-09-09 13:41] iFlameing commented on #141
@tiberiuichim @avoinea thank you

[2021-09-09 14:16] tiberiuichim commented on #145
Will be fixed by https://github.com/eea/volto-slate/pull/149

[2021-09-10 14:18] iFlameing commented on #141
@avoinea @tiberiuichim I tried it yesterday and it is working but suddenly today it is not working. It is giving me error when I am adding tableButton.
[code]

[code]

[2021-09-10 14:25] avoinea commented on #141
@iFlameing check your addons, you're not returning config within some of them.

[2021-09-10 14:27] iFlameing commented on #141
@avoinea it is only giving me error when I am adding tableButton

[2021-09-10 14:27] iFlameing commented on #141
otherwise it is working perfectly fine.

[2021-09-10 14:27] avoinea commented on #141
@iFlameing or your Volto project is bringing another version of volto-slate (without `tableButton` profile).

Try to pin volto-slate to `3.0.0-alpha.0`

[2021-09-10 14:29] iFlameing commented on #141
@avoinea I am using volto-slate by mrs developer and this is my code and I think it is the latest one
[code]

[2021-09-10 14:31] iFlameing commented on #141
@avoinea I don't have the table config in index.js in (node_modules)  that's why I am getting this error.

[2021-09-10 14:38] avoinea commented on #141
@iFlameing told you. I will release 3.0.0 final today. To avoid this alpha stage issues :)

[2021-09-10 14:40] iFlameing commented on #141
@avoinea ok

[2021-09-11 15:55] #92 closed

[2021-09-15 11:40] iFlameing commented on #141
@tiberiuichim @avoinea I tried the latest version 3.0.1 and problem still persist. I am attaching the screencast for your reference.
Screencast

https://user-images.githubusercontent.com/33936987/133426749-1e6b579f-de0e-44f5-9119-663b2260178e.mp4

[2021-09-15 11:42] iFlameing commented on #141
the sidebar does not open only when I am pasting the table from google docs. If I am creating the table by myself then I am able to do so.
    https://docs.google.com/document/d/1vlFbCo7hOiQkRE4yq4j08gLghJGtNj6a0suw_W7VXsw/edit?usp=sharing

[2021-09-18 16:16] #145 closed

[2021-09-18 16:16] tiberiuichim commented on #141
@iFlameing give the develop branch a try now, I've replicated the problem and fixed it.

[2021-09-19 06:11] #112 closed

[2021-09-22 11:36] iFlameing commented on #141
@tiberiuichim I tested the latest alpha release and it work like charm!

[2021-09-22 13:19] #141 closed

[2021-09-28 07:48] avoinea opened #159 "Table copy&paste support is broken în 4.0.1"
Seems to be related to #158.

[2021-09-29 08:56] andreiggr commented on #159
Fixed this in https://github.com/eea/volto-slate/commit/c283481824dc308db00d2a89498414602c9ade0f

Added more cases where slate would not skip deconstructing blocks (image, table).

[2021-10-01 14:34] iFlameing opened #163 "slate crashed when we paste a bold content in Bullet list and ordered list"
@tiberiuichim can you help me regarding this.

steps to reproduce.

1. in edit mode enter short text in a normal text field
2. mark the text as bullet list
3. press enter to get the second bullet
4. copy a text formatted in bold from a Word document or from a web page shown in your browser with CTRL-C
5. try to paste this with CTRL-V behind the second bullet
6. bold text will be pasted into a new

[2021-10-09 08:46] silviubogan commented on #90
Solved in https://github.com/eea/volto-slate/pull/165.

[2021-10-09 08:46] #90 closed

[2021-10-09 08:47] silviubogan commented on #66
Solved in https://github.com/eea/volto-slate/pull/165.

[2021-10-09 08:47] #66 closed

[2021-10-15 11:25] avoinea opened #167 "Error: The useSlate hook must be used inside the <SlateProvider> component's context"
Latest volto-slate release fails with:

[code]

[2021-10-23 15:27] tisto opened #172 "Hitting "delete" on an empty slate block does not delete the block"
# StR

* as admin
* create a new page
* hit return on the title block to create a new empty slate block
* hit delete (back on mac)
* -> I'd expect the block to being deleted (like on draftJS)

# Screenshot

![Edit-Page (6)](https://user-images.githubusercontent.com/632105/138560677-80d20972-3977-4094-8706-41ede182edd8.png)

[2021-10-25 08:09] tisto opened #173 "Slate Editor is not compatible with the Table-of-Contents block"
# StR

1. as admin
2. create a new page with a table of content block
3. add a block with a headline
4. -> the headline should show up in the TOC block but it doesn't

[2021-10-26 04:03] tiberiuichim opened #174 "Joining with a neighbor block using delete key at end of line doesn't keep cursor position"
steps to reproduce:

- write some text
- hit enter
- write some more text
- go to the end of previous block (first created)
- hit delete key

The blocks are joined, but the cursor position is moved to the beginning of the line.

[2021-10-26 04:05] tiberiuichim opened #175 "Markdown italic text no longer works"
This is probably because we only support `<em>` now?

[2021-10-26 07:37] tiberiuichim opened #176 "Uploaded image with drag&drop is not removed from editor"
When an image is uploaded with drag&drop, I would expect that it is then removed from the slate editor, after it is converted to a Volto block image.

[2021-10-26 12:10] silviubogan opened #177 "Pasting a table with a simple link inside a cell from Google Sheets and then attempting to change the URL of the simple link crashes Volto"
For example copying this:

![image](https://user-images.githubusercontent.com/198924/138875688-1e44a732-01c9-4dd1-aa96-865a821d4a9a.png)

and then pasting it in a Slate block works but then editing the URL of the link crashes Volto.

![image](https://user-images.githubusercontent.com/198924/138875786-08f4edd7-23d0-443c-89af-d916737c7608.png)

[2021-10-26 12:14] silviubogan opened #178 "This diff breaks the process of pasting an image inside a Volto-Slate block"
After applying these changes:

https://gist.github.com/tiberiuichim/be0d7c3416f5c448192fd3f282024809

the pasting of an image produces a Volto-Slate block *and* a Volto Image block instead of just one of them.

[2021-11-01 10:55] iFlameing commented on #163
@silviubogan I am still able to reproduce it.
I have gone through the same steps which is mentioned above.
<img width="1433" alt="Screenshot 2021-11-01 at 4 24 48 PM" src="https://user-images.githubusercontent.com/33936987/139661119-bf2bbb47-183d-4afa-92d3-199209fc35a4.png">

[2021-11-01 11:01] silviubogan commented on #163
Can you please try to reproduce the bug with the Volto-Slate branch `external-data-normalization`? Thanks.

[2021-11-01 14:15] iFlameing commented on #163
@silviubogan the error is gone with `external-data-normalization` but I lost the formatting.

this is the screenshot after implementing the above steps.
![Screenshot 2021-11-01 at 7 44 37 PM](https://user-images.githubusercontent.com/33936987/139685933-00e2c74e-cf23-4a03-9b69-7a13d19764aa.png)

[2021-11-01 15:33] silviubogan commented on #163
@iFlameing  With the latest commit in the `external-data-normalization` branch I cannot reproduce the bug. Could you try to recreate that Volto-Slate block from scratch, if you did not recently? It is possible that the bug is caused by other addons you have installed in Volto-Slate. What profiles of Volto-Slate do you use in your Volto project and what addons do you have installed over Volto-Slate

[2021-11-01 18:08] iFlameing commented on #163
@silviubogan I pulled the recent changes but I am still able to see the same `the above screenshot with error doesn't have the list order`. I am using this configuration `    "volto-slate:minimalDefault,simpleLink,tableButton",
`

[2021-11-02 08:16] silviubogan commented on #163
@iFlameing The bug seems to be in the code specific to the profile `tableButton`, so if it is urgent, you can disable that profile from your configuration. I am investigating this bug right now. Thanks.

[2021-11-02 08:54] silviubogan commented on #163
@iFlameing Sorry, it seems that the bug appears with the only profile `minimalDefault` too.

[2021-11-11 15:55] silviubogan commented on #163
@iFlameing I've checked and this bug is solved in #181.

[2021-11-15 08:26] silviubogan opened #185 "Pasting line breaks inside title and description blocks inserts line breaks"
And this is wrong at least because of the styling of the title block when it has multiple lines of content:

![image](https://user-images.githubusercontent.com/198924/141747478-53d49903-05a3-4ddc-9b85-eda79da86c7f.png)

[2021-11-15 13:29] silviubogan opened #186 "Title & Description blocks inside volto-columns-block do not work well"
The contents of the Title/Description blocks are not saved well and they are not rendered in the page view.

For example, in the block editor when testing the Description block:

![image](https://user-images.githubusercontent.com/198924/141790014-25a797c3-10f1-4455-b198-693ddaa459ce.png)

After saving, in the page view:

![image](https://user-images.githubusercontent.com/198924/141790061-b50a9854-

[2021-11-16 11:02] silviubogan commented on #186
Solved partially in branch [`title-description-nested-blocks`](https://github.com/eea/volto-slate/tree/title-description-nested-blocks). It will be completely solved when a new version of the dependency `slate-react` package is released and we start using it in Volto-Slate. The change is already available in the Slate monorepo in the `main` branch and can be used with yalc.

[2021-11-16 11:42] silviubogan commented on #186
See https://github.com/eea/volto-slate/pull/187.

[2021-11-18 15:15] silviubogan opened #189 "Pasting an HTML <img> does not download the image in the backend but links to the original image URL which is not obvious to the end-user"
This takes place in:

1. `TextBlockEdit`
2. `HtmlSlateWidget`
3. and maybe also in `RichTextWidget`

Maybe it is more user friendly to download the image inside the backend and use the newly generated URL in the Slate tree.

[2021-11-18 15:53] tiberiuichim commented on #189
I think this problem should be handled only in the TextBlockEdit, where it's obvious what the solution is (upload an image to the nearest possible image container).

[2021-11-19 08:07] #186 closed

[2021-11-19 08:07] #175 closed

[2021-11-19 08:10] #101 closed

[2021-11-19 12:32] silviubogan commented on #75
@avoinea Is this bug still reproducible?

[2021-11-22 12:50] iFlameing commented on #163
@silviubogan @tiberiuichim  @sneridagh  hey! I checked this and found out that now we don't get any error but the intended behavior is not there.  Now we can't paste the bold content in the bullet list.

steps to reproduce

1. in edit mode enter short text in a normal text field
2. mark the text as a bullet list
3. press enter to get the second bullet
4. copy a text formatted in bold from a Word d

[2021-11-24 11:43] sneridagh opened #193 "Pasting a table inside a SlateWidget (standalone richtext widget) cannot be removed"
It pastes fine, but there's any mean to remove it afterwards.

[2021-11-25 06:56] tisto opened #197 "Question: is lazy loading Slate and volto-slate possible?"
@tiberiuichim I was wondering if it would be possible to lazy load volto-slate and slate itself?

We are checking out custom bundles regularly and volto-slate and slate are roughly 200k that might make a difference on loading times. Here is the lighthouse treemap report from one of our projects.

![Lighthouse-Treemap](https://user-images.githubusercontent.com/632105/143393720-2e327efe-d9ed-495b-94

[2021-11-25 08:12] tiberiuichim commented on #197
we might lazy load some stuff in volto-slate, but not slate.js, unless we store html in the slate blocks.

draft-js is even worse, though, it's about double the total payload of volto-slate + dependencies, as far as I can recall (if you count all the draft/redraft/immutable libs). So short term, getting rid of draft would be even better.

[2021-11-25 09:42] avoinea opened #198 "Tab navigation issue"
https://user-images.githubusercontent.com/323385/143417438-90386a23-fc60-4d59-a9bc-dee289d23175.mp4

Block is not selected when using tab. Thus if you press enter at the end of text the cursor is not moved to the newly created slate block

**How to reproduce:**
* Click on Title
* Use tab key to go to the next block
* Use arrow keys to go to the end of the text
* Type Enter

[2021-11-25 09:51] avoinea opened #199 "Backspace key error"
How to reproduce:
* Go to a slate block at the end
* Type Enter
* Type something
* Use the Backspace key to delete text until the block is removed
* Sometimes you get this error

https://user-images.githubusercontent.com/323385/143418836-81c109d9-ab42-491a-8e34-57bf91f2bd49.mp4

[2021-11-25 11:10] silviubogan commented on #163
@iFlameing I think this is solved in https://github.com/eea/volto-slate/pull/195.

[2021-11-25 11:11] silviubogan commented on #163
@iFlameing I think that a Cypress test for this bug will be done in the following days.

[2021-11-26 14:44] silviubogan commented on #167
It seems that the toolbar button in `volto-slate-metadata-mentions` does not receive the Slate context so it crashes the IMS Frontend.

The first access of the Slate context with the useSlate hook does not find the context. It is first called when focusing a Volto-Slate based block. When making a new page the same bug appears when clicking the Volto-Slate Text block or going with the Down arrow ke

[2021-11-26 15:05] silviubogan commented on #167
The bug appears in the IMS Frontend with a new backend (no content other than default) too, although I've put the volto-slate branch `develop` and volto-eea-kitkat branch `develop` in `mrs.developer.json`, ran `yarn develop` and then `yarn start`. If I put, e.g. an `window.alert`, in the file `src/addons/volto-slate/src/editor/index.js`, it shows up in the browser well, so I'm missing something.

[2021-11-26 16:28] silviubogan commented on #167
1. A small project that still throws the error: https://gist.github.com/silviubogan/acfb3d0dd090f5f3ab394da2fbc90806
2. A small project that does not throw the error anymore: https://gist.github.com/silviubogan/86bc515982a4a9c55753af5bc0b7fecd

Any ideas?

[2021-11-26 17:23] tiberiuichim commented on #167
I think JSX components need to be pascal cased. https://gist.github.com/silviubogan/86bc515982a4a9c55753af5bc0b7fecd#file-volto-slate_src_editor_slateeditor-jsx-L18

[2021-11-26 17:31] tiberiuichim commented on #167
try to define the components as functions, not anonymous functions.

[2021-11-27 16:34] silviubogan commented on #167
@tiberiuichim I've made it like this:

[code]

then like

[code]

and they still throw the same error.

[2021-11-29 08:39] nileshgulia1 commented on #163
https://github.com/eea/volto-slate/pull/200

[2021-11-29 08:39] #163 closed

[2021-11-29 09:16] nileshgulia1 commented on #199
I think this is solved in #195

[2021-11-29 09:33] nileshgulia1 commented on #198
Fixed in #195

[2021-11-29 09:33] #198 closed

[2021-11-29 16:23] nileshgulia1 commented on #185
@silviubogan Can you please provide an example content? I cannot reproduce it anymore.

[2021-11-29 16:45] tiberiuichim commented on #185
when pasting inside the title block non-space whitespace + duplicated spaces should be stripped. This should be an extension of the Title block, not something that would be treated in the slate editor by default.

[2021-11-30 09:54] nileshgulia1 commented on #185
This could be handled on a project basis. These are the default plugins for now https://github.com/eea/volto-slate/blob/develop/src/editor/plugins/index.js

[2021-11-30 09:54] #185 closed

[2021-12-03 14:20] tiberiuichim commented on #167
This happens when the following conditions are met:

- volto-slate is a workspace package (so it's in development mode)
- volto addons have direct dependency on volto-slate (correct should be a peer dependency)
- we have (not sure about this one) a hard resolution on a volto-slate dependency.

This cause each volto addon with a volto-slate dependency to keep its own copy of volto-slate, in its loc

[2021-12-03 17:02] tiberiuichim commented on #167
I think my analysis is somewhat incorrect. I think it's safe for an addon to have another addon as a dependency, maybe we need to avoid the resolutions part?

[2021-12-05 22:32] silviubogan commented on #167
@tiberiuichim Does Volto work with nested addons?

[2021-12-05 22:36] silviubogan commented on #167
Is https://github.com/eea/volto-block-image-cards/pull/12 merged by mistake?

[2021-12-06 12:14] silviubogan commented on #167
@tiberiuichim

If one addon is installed twice, each time a different version, does it work well in Volto?

[2021-12-06 12:55] tiberiuichim commented on #167
In principal having two different versions of a JS package bundled is not a problem. In our practice we want to avoid this behavior, as it leads to ugly situations like the one in this ticket.

How we avoid that situation is not clear to me, though. It seems that simple `resolutions` is not enough to avoid the situation. Maybe instead of `*` we need to set the dependency version in our volto addon

[2021-12-07 09:28] silviubogan commented on #193
Solved in https://github.com/eea/volto-slate/pull/206.

[2021-12-09 11:57] silviubogan commented on #167
@tiberiuichim Please review this reversion PR: https://github.com/eea/volto-block-image-cards/pull/15.

[2021-12-13 10:31] iFlameing opened #208 "Not able to add the block if the previous text is bold"
@tiberiuichim can you please look into this

Steps to reproduce.
1. Write some texts  and made them bold
2. Press enter
3. Now you are not able to add the new block

screencast

https://user-images.githubusercontent.com/33936987/145796269-7f3776e5-1a92-4a57-8c81-d48a4aae065c.mp4

[2021-12-13 10:38] nileshgulia1 commented on #208
@iFlameing I think this is fixed in latest release via https://github.com/eea/volto-slate/pull/203, Can you please try on develop branch?

[2021-12-13 11:13] iFlameing opened #209 "Blank spaces text block not rendered in view"
@tiberiuichim

Steps to reproduce

1. Go to edit page
2. write the title My page
3. on next text block write My first text block
4. on next text block put some blank by pressing `backspace`
5. on next block write end
6. go to view
7. the p tag with blank is not rendered

[2021-12-13 11:25] tiberiuichim commented on #209
@iFlameing https://github.com/plone/volto/issues/1851

[2021-12-13 11:56] iFlameing commented on #208
@nileshgulia1 ok

[2021-12-13 12:19] iFlameing opened #210 "Pasting normal copy text in bullet list is not work as intended"
@tiberiuichim

Steps to reproduce

1. Press ctrl-a in the text block
2.  select the bullet list
3. copy a normal text
4. paste in the text block
5. the bullet list is gone(this is one problem but not major)
6. re-select text and make it a bullet list
7. press enter
8. select another text and paste into the text block
9. you will get the next block with pasted text
10. put the cursor in front of th

[2021-12-13 12:23] iFlameing commented on #210
@tiberiuichim maybe it is fixed but it is not shipped to live sorry!

[2021-12-13 12:23] #210 closed

[2021-12-14 09:11] nileshgulia1 commented on #209
<img width="651" alt="Screenshot 2021-12-14 at 2 39 24 PM" src="https://user-images.githubusercontent.com/22280901/145967920-3b72d02e-7a12-43eb-b3ec-8b4b9718d97a.png">

okay so, in view we have it like this. The multiple spaces inside the middle `<p>` block resolves to single in view.

[2021-12-15 10:41] tiberiuichim opened #212 "Remove debug from withTestingFeatures"
https://github.com/eea/volto-slate/blob/5b772ea9237b7249dc6da4ba50fa5966d8ccf468/src/editor/extensions/withTestingFeatures.jsx#L68

[2021-12-16 12:25] avoinea opened #213 "Copy&Paste HTML with empty links will crash"
https://user-images.githubusercontent.com/323385/146371344-49e73f06-fbe3-4db3-a944-f35598c1a3c8.mp4

Copy the following text to slate block or SlateJSON field:

[2021-12-16 12:26] #193 closed

[2021-12-21 12:15] nileshgulia1 opened #216 "Stylelint throws error"
Executing `stylelint` in a fresh slate project throws error:
[code]

This is probably due to postcss-less requiring `postcss@8`.
Volto does have `postcss@8` but gets overridden by some dep which pulls postcss@7 in a new volto-project.
[code]

[2021-12-22 05:10] nileshgulia1 commented on #216
Fixed by https://github.com/plone/volto/pull/2945

[2021-12-22 05:10] #216 closed

[2021-12-22 07:19] nileshgulia1 opened #217 "copy/paste external formatted data splits the editor"
For instance, try copying anything from https://www.lipsum.com/

https://user-images.githubusercontent.com/22280901/147051613-e7dc0481-6f56-4fd4-96e5-6abb3eb80ccb.mov

[2021-12-26 19:06] nileshgulia1 opened #221 "editor breaks when adding an empty bullet list"
1. Add a dummy text in a line.
2. Format it into a bullet list.
3. clear the "text" part with the backspace key and hit Enter.

The page breaks with the message.

[code]

[2021-12-26 19:11] nileshgulia1 commented on #221
Also with md formatted bullted and ordered lists.

[2022-01-05 13:04] #221 closed

[2022-01-05 13:05] #217 closed

[2022-01-07 08:53] #213 closed

[2022-01-07 08:55] nileshgulia1 commented on #167
This error still persists in latest release.

[2022-01-07 09:07] tiberiuichim commented on #167
@nileshgulia1 this happens when there's multiple versions of volto-slate in a deployment. Check that there's only one version.

[2022-01-07 10:36] nileshgulia1 commented on #167
@tiberiuichim Thanks, I started to update few set of addons to use latest volto-slate.
https://github.com/eea/volto-slate-dataentity/pull/3
https://github.com/eea/volto-embed/pull/17
https://github.com/eea/volto-datablocks/pull/35

[2022-01-10 12:26] iFlameing opened #227 "Copy pasting the table from some site page is not working Properly"
I checked the copy-pasting from google docs and it works perfectly fine. But If the user copy-paste the content from the website Page which is implemented may give some unwanted behavior.   Here is one I implemented in code sandbox and here you can see that if you copy-paste this table block you will not get the sidebar of table block.

https://codesandbox.io/s/sweet-heisenberg-ord5n?file=/src/App

[2022-01-10 12:42] iFlameing commented on #209
@tiberiuichim @nileshgulia1 as the above screenshot shows that we have an empty rendered p tag. But due to margin collapse we didn't get the margin-top of the empty p tag and it is not solvable.

[2022-01-10 12:42] #209 closed

[2022-01-10 12:42] iFlameing commented on #208
It is fixed

[2022-01-10 12:42] #208 closed

[2022-01-11 12:48] iFlameing commented on #227
@tiberiuichim Finally found the original table of website. Here is the link. https://www.fz-juelich.de/ibg/ibg-1/EN/Research/SystemicMicrobiology/syncell/syncell_node.html.
Visit this link and try to copy paste the table in volto-slate.
1. It will able to replicate the table
2. save it
3. once again go to edit
4. try to edit the January to December
5. You will not able to edit it.

[2022-01-11 12:56] nileshgulia1 commented on #227
@iFlameing I will try to replicate it in couple of days, Right now caught up with something. Is it urgent?

[2022-01-11 12:57] iFlameing commented on #227
@nileshgulia1 not so.

[2022-01-24 14:19] iFlameing commented on #227
@nileshgulia1 any update?

[2022-02-02 15:05] iFlameing commented on #227
@tiberiuichim can you please take a look regarding this issue.

[2022-02-08 14:28] iFlameing commented on #227
@tiberiuichim can you please take a look regarding this issue.

[2022-02-22 08:35] iFlameing commented on #227
@tiberiuichim any update

[2022-02-24 07:55] ionlizarazu opened #229 "Missing Rowspan and Colspan on Table"
There is no option to add tables with rowspan and colspan. If you copy/paste some table with any of row/colspan is rendered with missing cells.
Origin:
![image](https://user-images.githubusercontent.com/5443301/155481635-f017056e-461a-4030-8fea-74a6f05cf0c9.png)
![image](https://user-images.githubusercontent.com/5443301/155481773-438c8481-ca21-4c75-8a14-2dd76f2e90e5.png)

Result:
![image](https://

[2022-02-27 12:23] iFlameing commented on #227
@tiberiuichim this is the configuration

[code]

[2022-03-04 13:27] jackahl opened #230 "restrict Title Block onyl if present on page"
In vanilla volto the title Block is addable when there is no title block present on the page. This behavior is overruled here: https://github.com/eea/volto-slate/blob/master/src/blocks/Title/index.js#L29

I think either the logic from volto should be ported over to here or the blocksconfig should extend the original config and just contain those fields, that have been changed. Original logic in Vo

[2022-03-04 13:28] sneridagh commented on #230
in fact, the config should only "touch" the overridden parts, not the whole thing.

[2022-03-08 13:52] iFlameing commented on #227
@tiberiuichim any finding or pr, we really need this now.

[2022-03-08 17:33] silviubogan opened #233 "HtmlSlateWidget's view renders empty <a>-s incorrectly (e.g. in News Item content type)"
# Steps

1. in a browser tab with some HTML that contains a link enter DevTools, in the **Elements** pane select the link and remove all the content in it, so its `childNodes` property is an empty iterator
2. select the link and a few surrounding visible characters from the view
3. copy that
4. paste it inside a `HtmlSlateWidget` (e.g. in a News Item)
5. save the page with that `HtmlSlateWidget`
6